/* body {
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  width: 100%;
} */


/* h2 {
  font-weight: 600;
  font-size: 33px;
  margin-bottom: 30px;
  margin-top: 15px;
}

h3 {
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 15px;
}

h4 {
  font-size: 20px;
  font-weight: 600;
  position: relative;
  margin-bottom: 18px;
}

p {
  color: #0a0c0f;
  font-size: 18px;
  overflow: auto;
} */
.section-title {
  text-align: center;
}

.align-items-center {
  align-items: center !important;
}

.ctp-banner-area::before {
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(90.09deg,
      #000000 0.07%,
      #000000 56.23%,
      rgba(0, 0, 0, 0) 91.07%);
  opacity: 0.5;
  z-index: -1;
}

.ctp-banner-form {
  margin-left: auto;
}

.ctp-banner-form .form-header {
  padding: 1px;
  border-radius: 15px;
  text-align: center;
  margin-bottom: 15px;
}

.ctp-banner-form .form-header h3 {
  color: black;
  font-size: 32px;
}

.ctp-banner-form .form-content .form-group {
  position: relative;
  margin-bottom: 15px;
}

.form-select {
  width: 100%;
  padding: 1rem 0.25rem 0.375rem 0.75rem;
  border: 1px solid #e5e5e5;
  border-radius: 10px;
}

.ctp-banner-form .form-content .form-group label {
  display: block;
  background-color: #ffffff;
  border: 1px solid #e5e5e5;
  border-radius: 10px;
  position: absolute;
  left: 20px;
  top: -10px;
  z-index: 1;
  padding: 0px 12px;
  color: #57647c;
  font-weight: 500;
}



.ctp-banner-form .form-content .form-group .form-control {
  height: 100%;
  padding: 20px 3px 6px 4px;
  float: unset;
  border: none;
  font-size: 16.5px;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  background-color: #ffffff;
  color: #212529;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
}

.tab-btn {
  width: 80%;
  text-align: center;
}

.my-row {
  margin-left: 65px;
}

@media (min-width: 900px) {
  .my-row {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}


.ctp-banner-form .form-content .form-group .amount-currency-select {
  position: absolute;
  right: 20px;
  bottom: 15px;
}

/* @media (max-width: 992px) {
  .col-lg-4 {
    flex: 0 0 auto;
    width: 35%;
  }
}

@media (max-width: 800px) {
  .col-lg-4 {
    flex: 0 0 auto;
    width: 36%;
    top: 4px;
    right: 34px;
  }
}

@media (max-width: 650px) {
  .col-lg-4 {
    flex: 0 0 auto;
    width: 41%;
    top: 4px;
    right: 91px;
  }
}

@media (max-width: 500px) {
  .col-lg-4 {
    flex: 0 0 auto;
    width: 100%;
  }
} */

.button {
  color: white;
  padding: 5px 0px;
  border-radius: 10px;
  background: #2f2e7e;
  font-size: 20px;
  width: 100%;
}

/* .carousel-inner {
  overflow: overlay;
} */

.shadow-inner {
  box-sizing: content-box;
  padding: 30px;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08);
  position: relative;
  background: #f4f7f9;
}

.shadow-inner1 {
  box-sizing: content-box;
  padding: 6px;
  margin: 10px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.08);
  position: relative;
  background: #fff;
  border-radius: 15px;
}

.accordion-item:hover {
  box-shadow: 0 5px 7px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.ctp-reviews-box:hover {
  box-shadow: 0 5px 7px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.shadow-inner1:hover {
  box-shadow: 0 5px 7px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.shadow-inner2:hover {
  box-shadow: 0 5px 7px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.image {
  display: inline-block;
  background-color: #ffffff;
  box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  height: 100px;
  width: 100px;
  line-height: 100px;
}

.image .number {
  display: inline-block;
  height: 30px;
  width: 30px;
  line-height: 30px;
  font-size: 15px;
  font-weight: 500;
  font-family: "Raleway", sans-serif;
  background: linear-gradient(90deg, #ee0979 0%, #ff6a00 100%);
  color: #ffffff;
  border-radius: 50px;
  position: absolute;
  transition: 0.5s;
  z-index: 1;
}

.shadow-inner2 {
  text-align: center;
  padding: 10px;
  margin: 0px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.08);
  background: #fff;
  border-radius: 25px;
  padding-top: 22px;
  padding-bottom: 32px;
  margin-bottom: 10px;
  min-height: 330px;
}

.box {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
}

@media only screen and (max-width: 700px) {
  .box {
    display: inline;
  }
}

@media (min-width: 500px) {
  .col-sm1-6 {
    flex: 0 0 auto;
    width: 50%;
  }
}

@media (min-width: 600px) {
  .col-sm1-6 {
    flex: 0 0 auto;
    width: 33.33%;
  }
}

@media (min-width: 992px) {
  .col-sm1-6 {
    flex: 0 0 auto;
    width: 25%;
  }
}

@media (min-width: 1200px) {
  .col-sm1-6 {
    flex: 0 0 auto;
    width: 16.666667%;
  }
}

.ctp-money-transfer-card {
  margin: 10px;
}

.ctp-money-transfer-card p {
  margin-bottom: 10px;
  font-size: 16px;
}

.ctp-services-card h3 {
  font-size: 20px;
  font-weight: 600;
  color: #212529;
  position: relative;
  margin-bottom: 16.5px;
  padding: 10.5px 0 10.5px 50px;
}

.ctp-services-card p {
  color: #57647c;
  margin-bottom: 0;
  font-size: 16px;
}

.ctp-services-card h3 .icon img {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  margin: auto;
  width: 30px;
}

.ctp-services-card h3 .icon {
  display: inline-block;
  height: 50px;
  width: 50px;
  line-height: 50px;
  background: linear-gradient(90deg, #ee0979 0%, #ff6a00 100%);
  text-align: center;
  color: #ffffff;
  border-radius: 50px;
  position: absolute;
  left: 0;
  top: 30%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 15px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: 1;
}

.ctp-services-card h3 .icon:hover {
  background-color: white;
  transition: all 0.5s;
  transform: scale(1);
}

.ctp-services-card :hover {
  background-color: white;
  transition: all 0.5s;
  transform: scale();
}

/* Choose */
.choose-inner-card {
  margin-left: 20px;
}

.ctp-choose-content p {
  color: #57647c;
  font-family: "Raleway", sans-serif;
  margin-bottom: 36px;
  font-size: 16px;
}

@media (min-width:800px) {
  .ctp-choose-image {
    background-image: url("/public/img/choose.png");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
  }
}

.ctp-choose-content .choose-inner-card h4 .icon {
  display: inline-block;
  height: 25px;
  width: 25px;
  line-height: 25px;
  background: linear-gradient(135deg, #ee2b33 0%, #2f2e7e 100%);
  text-align: center;
  color: #ffffff;
  border-radius: 50px;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 15px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: 1;
  margin-left: -31px;
}

/* money */
.nav-tabs {
  place-content: center;
}

.nav-tabs {
  border-bottom: 0 solid #f4f7f9;
}

/* .section-title.ctp-title {
  max-width: 1050px;
  margin-top: -10px;
  margin-bottom: 38px;
} */

.ctp-key-features-tabs .nav .nav-item .nav-link.active::before {
  opacity: 1;
  visibility: visible;
}

.ctp-key-features-tabs .nav .nav-item .nav-link::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, #ee0979 0%, #ff6a00 100%);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: -1;
  opacity: 0;
  visibility: hidden;
}

#speed-tab {
  padding-left: 108.5px;
  padding-right: 108.5px;
}

#cost-tab {
  padding-left: 124px;
  padding-right: 124px;
}

#accessibility-tab {
  padding-left: 90px;
  padding-right: 90px;
}

.ctp-key-features-tabs .nav .nav-item .nav-link {
  color: #ffffff;
  border: groove;
  display: flex;
  flex-wrap: wrap;
  padding: 30px 115px;
  background: linear-gradient(135deg, #23bdb8 0%, #2f2e7e 100%);
  position: relative;
  z-index: 1;
  font-size: 18px;
  font-weight: 500;
}



.ctp-key-features-tabs .tab-content .tab-pane {
  background-color: #ffffff;
  border-radius: 15px;
  margin-top: 2%;
}

.key-img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
}

@media (max-width: 990px) {
  .key-img {
    width: 100%;
    height: 50%;
    border-radius: 15px;
  }
}

.shadow-inner3 {
  background-color: white;
}

.ctp-key-features-tabs .tab-content .tab-pane .ctp-key-features-content .list li {
  list-style-type: none;
  color: #57647c;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  margin-bottom: 20px;
  position: relative;
  padding-left: 28px;
}

.ctp-key-features-tabs .tab-content .tab-pane .ctp-key-features-content .list li i {
  background: linear-gradient(135deg, #23bdb8 0%, #43e794 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-size: 18px;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.ctp-working-people-image {
  display: inline-block;
  background-image: url("/public/img/Untitled-design.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}

.ctp-working-people-content .working-people-inner-card {
  position: relative;
  margin-top: 30px;
  padding-left: 125px;
}

.working-people-inner-card .icon {
  display: inline-block;
  height: 115px;
  width: 100px;
  line-height: 115px;
  background: linear-gradient(90deg, #ee0979 0%, #ff6a00 100%);
  text-align: center;
  color: #ffffff;
  border-radius: 10px;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 15px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: 1;
}

.ctp-working-people-content .working-people-inner-card .icon::before {
  position: absolute;
  content: "";
  display: inline-block;
  height: 115px;
  width: 100px;
  line-height: 115px;
  background: linear-gradient(135deg, #23bdb8 0%, #43e794 100%);
  border-radius: 10px;
  left: 0;
  right: 0;
  top: 0;
  z-index: -1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 0;
  visibility: hidden;
}

.working-people-inner-card .icon img {
  width: 100%;
}

.ctp-protec-card .content h3 {
  font-size: 20px;
  color: #212529;
  font-weight: 600;
  margin-bottom: 15px;
}

.ctp-protec-card .content p {
  text-align: left;
}

.ctp-protec-card {
  background: white;
  box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.05);
  border-radius: 15px;
  padding: 35px 30px 35px 0;
  margin-bottom: 25px;
  transition: 0.5s;
}

.ctp-protec-card .content {
  position: relative;
  padding-left: 50px;
}

.ctp-protec-card .content .number {
  display: inline-block;
  width: 60px;
  height: 50px;
  line-height: 50px;
  background: #e5f6f0;
  text-align: center;
  position: absolute;
  left: -10px;
  top: -21px;
}

.ctp-protec-card .content .number span {
  display: inline-block;
  font-size: 40px;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  background: linear-gradient(90deg, #ee0979 0%, #ff6a00 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

/* app-content */
.ctp-app-content {
  max-width: 630px;
  margin-left: auto;
  padding-right: 70px;
  position: relative;
  top: -25px;
}

.img {
  width: 100%;
}

.ctp-app-content .sub {
  background: linear-gradient(90deg, #ee0979 0%, #ff6a00 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-size: 16px;
  font-weight: 600;
  font-family: "Raleway", sans-serif;
  display: inline-block;
  margin-bottom: 15px;
}

.ctp-app-content .btn-box {
  margin-top: 30px;
}

.ctp-app-content .btn-box .app-store-btn {
  border-radius: 50px;
  display: inline-block;
  position: relative;
  z-index: 1;
  color: #ffffff;
  padding: 11px 30px 10px 68px;
  font-size: 12px;
  font-family: "Raleway", sans-serif;
}

.ctp-app-content .btn-box .app-store-btn span {
  display: block;
  margin-top: 5px;
  font-size: 15px;
  font-weight: 600;
  font-family: "Raleway", sans-serif;
}

.ctp-app-content .btn-box .app-store-btn::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 50px;
  z-index: -1;
  background: linear-gradient(135deg, #23bdb8 0%, #43e794 100%);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 0;
  visibility: hidden;
}

.ctp-app-content .btn-box .app-store-btn i {
  position: absolute;
  left: 18px;
  top: 11px;
  font-size: 40px;
}

.ctp-app-content .btn-box .app-store-btn::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 50px;
  z-index: -1;
  background: linear-gradient(90deg, #ee0979 0%, #ff6a00 100%);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.ctp-app-content .btn-box .play-store-btn i {
  position: absolute;
  left: 30px;
  top: 12px;
}

.ctp-app-content .btn-box .play-store-btn {
  margin-left: 12px;
  border-radius: 50px;
  display: inline-block;
  position: relative;
  z-index: 1;
  color: #ffffff;
  padding: 11px 30px 10px 68px;
  font-size: 12px;
  font-family: "Raleway", sans-serif;
}

.ctp-app-content .btn-box .play-store-btn span {
  display: block;
  margin-top: 5px;
  font-size: 15px;
  font-weight: 600;
  font-family: "Raleway", sans-serif;
}

.ctp-app-content .btn-box .play-store-btn::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 50px;
  z-index: -1;
  background: linear-gradient(135deg, #23bdb8 0%, #43e794 100%);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.ctp-app-content .info {
  margin-top: 30px;
}

.ctp-app-content .info span {
  color: #212529;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 20px;
}

.section-title {
  margin-left: auto;
  margin-right: auto;
}

/* reviews-box */
.text-center1 {
  text-align: center;
  margin-left: 10%;
}

.testimonials .testimonials-carousel,
.testimonials .testimonials-slider {
  overflow: hidden;
}

.testimonial-item {
  box-sizing: content-box;
  position: relative;
  padding: 10px;
  margin: 20px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.08);
  background: #fff;
  border-radius: 15px;
  padding-top: 22px;
  padding-bottom: 20px;
  margin-bottom: 50px;
}

.testimonial-item:hover {
  box-shadow: 0 5px 7px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

/* faq-accordion */
.ctp-faq-accordion .accordion-item .accordion-button {
  color: #0a2049;
  position: relative;
  box-shadow: unset;
  margin-bottom: 0;
  display: block;
  border: none;
  width: 100%;
  font-size: 20px;
  font-weight: 600;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-color: transparent;
}

.ctp-faq-accordion .accordion-item .accordion-button:hover {
  background: linear-gradient(135deg, #23bdb8 0%, #43e794 100%);
  box-shadow: 0 5px 7px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.ctp-faq-accordion .accordion-item {
  background-color: #c8ebe9;
  -webkit-box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.05);
  border-radius: 15px;
  margin-bottom: 15px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border: none;
}

/* footer */
.ctp-footer-area {
  background-color: #212529;
  padding-top: 100px;
}

.ctp-footer-widget {
  margin-bottom: 25px;
}

.ctp-footer-widget .links {
  padding: 0;
  margin-bottom: 0;
}

.ctp-footer-widget .info {
  padding: 0;
  margin-bottom: 0;
}

.ctp-footer-widget .logo {
  margin-bottom: 25px;
}

.ctp-footer-widget .social-links {
  padding: 0;
  margin-bottom: 0;
}

.social-links {
  color: white;
}

.ctp-footer-widget .social-links li {
  list-style-type: none;
  display: inline-block;
  margin-right: 8px;
  margin-top: 20px;
}

.ctp-footer-widget .social-links li a {
  display: inline-block;
  height: 35px;
  width: 35px;
  line-height: 35px;
  background: #57647c;
  text-align: center;
  color: #ffffff;
  border-radius: 50px;
  font-size: 15px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  position: relative;
  z-index: 1;
}

.ctp-footer-widget .social-links li a i {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  margin: auto;
}

.ctp-footer-widget h3 {
  font-size: 20px;
  font-weight: 600;
  color: #ffffff;
  margin-bottom: 25px;
  font-family: "Raleway", sans-serif;
}

.ctp-footer-widget .links li a {
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: relative;
  padding-left: 22px;
}

.ctp-footer-widget .links li {
  list-style-type: none;
  margin-bottom: 15px;
  font-family: "Raleway", sans-serif;
}

.ctp-footer-widget .links li a::before {
  position: absolute;
  content: "";
  height: 10px;
  width: 10px;
  border-radius: 50px;
  background: linear-gradient(90deg, #ee0979 0%, #ff6a00 100%);
  left: 0;
  top: 3.8px;
}

.ctp-footer-widget .info li {
  list-style-type: none;
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 15px;
}

.ctp-footer-widget .info li span {
  background: linear-gradient(90deg, #ee0979 0%, #ff6a00 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-size: 16px;
  font-weight: 600;
}

a {
  color: #0e314c;
  text-decoration: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: 0 !important;
}

.ctp-footer-widget .info li a {
  color: #ffffff;
}

.ctp-footer-area .copyright-area {
  text-align: center;
  border-top: 1px solid #414243;
  margin-top: 75px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.ctp-footer-area .copyright-area p {
  color: #ffffff;
  font-size: 16px;
  font-family: "Raleway", sans-serif;
  margin-bottom: 0;
}

.ctp-footer-area .copyright-area p a {
  background: linear-gradient(90deg, #ee0979 0%, #ff6a00 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-size: 16px;
  font-weight: 600;
}

/* GIC css */
.accordion-button {
  font-size: 22px;
}

.GicForm {
  background-color: #2f2e7e;
  color: #ffff;
  padding-top: 10px;
  padding-bottom: 25px;
}

.shadow {
  text-align: center;
  padding: 10px;
  margin: 0px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.08);
  background: #fff;
  border-radius: 25px;
}

.fa-2x {
  color: #2f2e7e;
}

.service_details{
  width: 80vw;
  margin: auto;
  margin-top: 20px;
}

@media (min-width: 992px) {
  .service_details  {
    display: none;
    
  }
}

@media (max-width: 992px) {
  .service_details_dt {
    display: none;
    
  }
}

.service_details_dt  {
/* border: 4px solid red;   */
width: 35vw;
color: white;
/* background-color: #272829; */
/* background-color: #352F44; */

position: absolute;
top: 350px;
right: 150px;
padding: 15px;
border-radius: 8px;
font-size: 15px;
}

.service_details_dt h1  {
  font-size: 25px;

}

.hyperLinkStyle {
  text-decoration: underline;
  font-weight: 700;
  color: white;
}

.hyperLinkStyle:hover {
  color: white;
}