 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;900&family=Roboto:wght@300;400&display=swap');

 .offer_page {
     -webkit-font-smoothing: antialiased;
     -moz-osx-font-smoothing: grayscale;
     font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
     margin: 0;
 }

 .offer_page {
     font-family: 'Montserrat', sans-serif;
 }

#home {
    color: #ffffff;
    background: url("../../public/img/offerPageImages/forex card launch website offer banner.png") no-repeat;
    background-position: center center;
    width: 100%;
    /* padding-top: 56.25%;  */
    /* height: auto; */
    height: 80vh;
    background-size: cover; /* Adjusted to cover the area */
}

/* Mobile and Desktop Image Change */
@media (min-width: 768px) {
    #home {
        background: url("../../public/img/offerPageImages/forex card launch website offer banner.png") no-repeat;
        background-size: cover; /* Ensures the image covers the area */
    }
}

@media (max-width: 767px) {
    #home {
        background: url("../../public/img/offerPageImages/forex card launch website banner mobile size.png") no-repeat center center;
        background-size: contain; /* Ensures the entire image is visible */
        background-repeat: no-repeat; /* Prevents image from repeating */
        /* width: 100%; */
        height: 80vh;
        height: 258px; /* Adjust height based on content or design needs */
       
    }
}

/*bullet Points in Terms in Mobile View*/
@media (max-width: 767px) {
    #home2 ul {
        list-style-type: disc; /* Ensures bullet points are displayed */
        padding-left: 20px; /* Adds padding for bullets */
    }

    #home2 li {
        margin-bottom: 10px; /* Adds spacing between list items */
    }
}

 .main_form_div .mega_sale_icon {
     max-width: 70%;
 }

 .form_for_phone {
     display: none;
 }

 @media (max-width: 976px) {
     .form_for_phone {
         display: block;
         box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.75);
         margin: 30px;
     }

     .form_for_pc {
         display: none;
     }

 }


 #home2 {
     color: #ffffff;
     background-color: #2f2e7e;
     height: auto;
     margin: 0;
     padding: 0;

 }

 .offer_page .btn.btn-cus {
     color: #ffffff;
     font: 14px 'Montserrat', sans-serif;
     background: #2f2e7e;
     border: 1px solid #2f2e7e;
     margin: 10px 0px 0px 20px;
     padding: 10px 27px;
 }

 .offer_page .btn-light {
     border-radius: 20px 20px 20px 20px !important;
     box-shadow: 0 5px 20px 0 rgb(0 68 167 / 50%);
     font-size: 14px;
     font-weight: 700;
     letter-spacing: .06em;
     margin-left: 20px;
     padding: 10px 27px;
     text-transform: uppercase;
 }

 .offer_page .btn-cus {
     padding: .5rem 1rem !important;
     font-size: 1.1rem;
     line-height: 1.5;
     border-radius: .3rem;
     background-color: #2f2e7e;
     box-shadow: 0 5px 20px 0 rgb(0 68 167 / 50%);
     color: #fff;
     border: 1px solid #0044a7;
     font-weight: 700;
     letter-spacing: .06em;
     /* margin-left: 20px; */
     padding: 10px 27px;
     text-transform: uppercase;
 }

 .offer_page .btn-cus:hover,
 .btn-light:hover {
     background: white;
     color: black;
     box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.75);
     transition: all .3s linear;
 }

 .offer_page .code {
     text-decoration: none;
     background-color: #e42c32;
     padding: 2px 2px;
 }

 .offer_page .code:hover {
     color: white;
 }

 .offer_page .navbar-nav .nav-item .nav-link {
     color: #252525;
     font-size: 18px;
     font-weight: 500;
     padding-left: 10px;
     padding-right: 10px;
     text-transform: capitalize;
 }

 /* .active {
    color: #3da2dd !important;
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
}

.dropdown-toggle:after {
    display: none;
}

.dropdown .dropdown-menu {
    background-color: #fff;
    border-top: 3px solid #0044a7;
    padding: 0;
    top: 100%;
    transition: all .3s linear 0s;
    z-index: 10;
}

.about-home {
    background: #f2f7fb;
}

.blue {
    color: blue;
}
 */


 .offer_page {
     font-family: 'Poppins', sans-serif;
     font-size: 14px;
     line-height: 24px;
     font-weight: 400;
     color: #222;
     width: 100%;
 }

 .offer_page .main {
     background: #fff;
 }

 section,
 .section {
     position: relative;
 }

 .offer_page .container {
     width: 100%;
     margin: 0 auto;
 }

 .offer_page h1,
 .offer_page h2,
 .offer_page h3,
 .offer_page h4,
 .offer_page h5,
 .offer_page h6 {
     font-weight: 600;
     color: rgb(202, 37, 37);
     margin-bottom: 0;
 }

 .offer_page h1 {
     font-size: 2em;
     font-weight: 500;
     line-height: 1.2;
     color: #0044a7;
 }

 .offer_page h2 {
     font-size: 40px;
     line-height: 1.3;
 }

 .offer_page h3 {
     font-size: 20px;
     line-height: 1.2;
 }

 .offer_page h4 {
     font-size: 20px;
 }

 .offer_page h5 {
     font-size: 16px;
 }

 .offer_page h6 {
     font-size: 14px;
     font-weight: 400;
 }

 .offer_page p {
     font-family: 'Roboto', sans-serif;
     font-size: 15px;
     font-weight: 400;
     line-height: 24px;
     color: #565656;
     margin-bottom: 0;
 }

 .offer_page a {
     color: #444;
     transition: all 0.3s ease 0s;
 }

 a:hover,
 a:focus {
     color: black;
 }

 a,
 a:hover,
 a:focus,
 .btn:focus {
     text-decoration: none;
     outline: none;
     -webkit-box-shadow: none;
     box-shadow: none;
 }

 .text-body>a {
     text-decoration: underline;
     color: #212529;
 }

 .offer_page ol,
 .offer_page ul {
     margin: 0;
     padding: 0;
 }


 .offer_page img {
     height: auto;
     max-width: 100%;
 }


 /* .offer_page .btn {
    font-size: 15px;
    font-weight: 500;
    color: #fff;
    line-height: 1;
    text-align: center;
    padding: 14px 30px;
    border: 0 none;
    border-radius: 100px;
    outline: 0 none;
    position: relative;
    z-index: 1;
} */

 .offer_page .btn:hover,
 .offer_page .btn:focus,
 .offer_page .btn:active,
 .offer_page .btn.active {
     -webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
     box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
 }

 .button-group {
     margin-top: 33px;
     margin-left: 17px;
 }


 .button-group a {
     margin-right: 10px;
 }

 .button-group a:last-child {
     margin-right: 0;
 }


 /* .offer_page .btn,
.offer_page  .btn:active {
    background: linear-gradient(-45deg, #f4f4f4);

} */

 .addborder {
     padding: 40px 40px 20px;
     box-shadow: 0px -5px 9px 1px rgba(0, 0, 0, 0.5);

 }

 .button-group a {

     color: #ffffff;
     border-radius: 0;
     font-weight: 700;
 }

 /* .offer_page .btn:hover {
    transition: .4s ease;
    background-color: white;
    color: #0044a7;


} */

 /* Promo Area CSS */


 .offer_page .row {
     margin-right: 0 !important;
     margin-left: 0;

 }

 .contacts a {
     text-decoration: none;
     color: #0044a7;
     font-weight: 700;

 }

 @media(max-width:768px) {
     .code {
         font-size: 1rem;
         display: inline-block;
         flex-wrap: nowrap;
     }

     .forex-card {
         display: flex;
         flex-direction: row;
     }
 }

 @media(max-width:480px) {
     .code {
         margin: 10px 0px;
         font-size: 1.3rem;
         display: inline-block;
         flex-wrap: nowrap;
     }
 }

 .offer_form {
     background-color: white;
     border-radius: 10px;
 }


 .offer_form .form-control {
     border-top: none;
     border-right: none;
     border-left: none;
     font-size: 14px;
 }

 .offer_form .form-control:focus {
     border-color: #cccccc;
     box-shadow: none;
 }

 .offer_form .btn_offer {
     padding: 10px 14px;
     font-size: 14px;
     border: 1px solid #ffc107;
 }